.br-list-items {
  width: 100%;
  padding-right: 20px;
  margin-top: 20px;
}

.br-list-items__title {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.accordion-button::before,
.accordion-button:not(.collapsed)::before {
  flex-shrink: 0;
  background-image: url("../../../../assets/arrowDown.svg");
  width: 1.25rem;
  height: 1.25rem;
  content: "";
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.accordion-button:not(.collapsed)::after,
.accordion-button::after {
  display: none;
}

.accordion-button:not(.collapsed)::before {
  -webkit-transform: rotate(-360deg);
  transform: rotate(-360deg);
}

.accordion-button:not(.collapsed) {
  border-bottom: unset;
}

.accordion-button::before {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.br-list-items__description-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #cfcfcf;
  padding: 15px;
  border-radius: 5px;
  background-color: #e5e5e5;
  margin-top: 10px;
}

.br-list-items__title-container,
.br-list-items__description-container {
  div:first-child {
    font-weight: bold;
  }
}

.br-list-items__description-container {
  div:last-child {
    color: gray;
  }
}

.br-list-items__title-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 19px;
  margin-left: 10px;
  font-size: 15px;
}

.br-list-items__title-containers__text {
  border: 1px solid white;
  padding: 2px;
  background-color: white;
  margin-right: -4px;
  border-radius: 10px;
  margin-left: -4px;
  position: relative;
}

@media screen and (max-width: 425px) {
  .br-list-items__title-container {
    flex-direction: column;
  }
}
