@import "~react-toastify/dist/ReactToastify.css";
@import '~bootstrap/dist/css/bootstrap.min.css';

html,
body,
.root {
  height: 100%;
}

body {
  line-height: 1.5;
}

body,
.app {
  background: white;
}

/* main page */
