@import "~react-toastify/scss/main.scss";
@import '~bootstrap/scss/bootstrap.scss';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  line-height: 1.5;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html,
body,
.app,
#root {
  height: 100%;
}

body,
.app {
  background: white;
}



